/* ESERCIZIO 1 */
.ex-1-square {
    transition: background 3s;
}
.ex-1-square:hover {
  background-color: red;
}

/* ESERCIZIO 2*/
.ex-2-square {
  transition: width 3s;
  transition-timing-function: linear;
}

.ex-2-square:active {
  width: 100%;
}
/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius linear 3s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity linear 3s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* ESERCIZIO 5 */
.ex-5-square {
  transition: all ease 2s;
}
.ex-5-square:hover {
  width: 80px;
  height: 80px;
}
.ex-5-square:active {
  width: 40px;
  height: 40px;
}
/* ESERCIZIO 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}
/* ESERCIZIO 7 */
.ex-7-img {
  transition: filter linear 3s;
}
.ex-7-img:hover {
  filter: drop-shadow(20px 20px 10px gray) grayscale(1);
}
/* ESERCIZIO 8 */
.ex-8-img {
  transition: all ease 3s;
}
.ex-8-img:hover {
  border-radius: 20px;
  filter: invert(100%) contrast(150%);
}
/* ESERCIZIO 9 */
.ex-9-img {
  transition: all ease 3s;
}
.ex-9-img:hover {
  border-radius: 20px;
  transform: scale(1.15);
  filter: sepia(80%) saturate(3);
}
/* ESERCIZIO 10 */
@keyframes rotation {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}
.ex-10-icon {
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* ESERCIZIO 11 */
@keyframes rotation-34-fast {
  0% {transform: rotate(0deg);}
  75% {transform: rotate(315deg);}
}
.ex-11-icon:hover {
  animation: rotation-34-fast 2s ease-in;
  animation-fill-mode: backwards;
}

/* ESERCIZIO 12test */

/* .ex-12-button {
  transition-property: left, right;
  transition-duration: 2s;
  transition-delay: 2s;
}
.ex-12-button:hover .ex-12-top-white {
  left: 60%;
} */



/* ESERCIZIO 12 */
@keyframes move-top {
  0% { left: 10%; }
  75% { left: calc(100% - 70px); }
  100% { left: 10%; }

}
@keyframes move-bottom {
  0% { right: 20%; }
  75% { right: calc(100% - 70px); }
  100% { right: 20%; }

}
.ex-12-button:hover .ex-12-top-white {
  animation: move-top;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: move-bottom;
  animation-duration: 2s;
  animation-timing-function: ease;
}

/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
