/* ESERCIZIO 1 */
.ex-1-square {
    transition: background 3s;
}
.ex-1-square:hover {
  background-color: red;
}

/* ESERCIZIO 2*/
.ex-2-square {
  transition: width 3s;
  transition-timing-function: linear;
}

.ex-2-square:active {
  width: 100%;
}
/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius linear 3s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity linear 3s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
/* ESERCIZIO 1 */
